<H2>Thank you for signing up, you'll start receiving text messages as soon as new dogs pop up</H2>
<h4>If you want the text messages to stop, just reply to them with: stop</h4>

<br>
If you have any questions or there are any problems, please email corey@findmeapet.org
