@charset "UTF-8";

<!-- 
body  {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	background: #e2ebf0;
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: #0F487F;
}
.twoColHybLt #container { 
	width: 940px;  /* this will create a container 940px */
	background: #FFFFFF;
	margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
	border-bottom: 1px solid #0f487f;
	border-left: 1px solid #0f487f;
	border-right: 1px solid #0f487f;
	text-align: left; /* this overrides the text-align: center on the body element. */
} 

/* Tips for sidebar1:
1. Since we are working in relative units, it's best not to use padding on the sidebar. It will be added to the overall width for standards compliant browsers creating an unknown actual width. 
2. Since em units are used for the sidebar value, be aware that its width will vary with different default text sizes.
3. Space between the side of the div and the elements within it can be created by placing a left and right margin on those elements as seen in the ".twoColHybLt #sidebar1 p" rule.
*/
.twoColHybLt #sidebar1 {
	float: left; 
	width: 24em; /* since this element is floated, a width must be given */
	background: #0f487f; /* the background color will be displayed for the length of the content in the column, but no further */
	padding: 15px 0; /* top and bottom padding create visual space within this div  */
	color: #e2ebf0;
}
.twoColHybLt #sidebar1 h3, .twoColHybLt #sidebar1 p {
	margin-left: 15px; /* the left and right margin should be given to every element that will be placed in the side columns */
	margin-right: 10px;
}

/* Tips for mainContent:
1. The space between the mainContent and sidebar1 is created with the left margin on the mainContent div.  No matter how much content the sidebar1 div contains, the column space will remain. You can remove this left margin if you want the #mainContent div's text to fill the #sidebar1 space when the content in #sidebar1 ends.
2. Be aware it is possible to cause float drop (the dropping of the non-floated mainContent area below the sidebar) if an element wider than it can contain is placed within the mainContent div. WIth a hybrid layout (percentage-based overall width with em-based sidebar), it may not be possible to calculate the exact width available. If the user's text size is larger than average, you will have a wider sidebar div and thus, less room in the mainContent div. You should be aware of this limitation - especially if the client is adding content with Contribute.
3. In the Internet Explorer Conditional Comment below, the zoom property is used to give the mainContent "hasLayout." This may help avoid several IE-specific bugs.
*/
.twoColHybLt #mainContent { 
	margin: 0 20px 0 26em; /* the right margin can be given in percentages or pixels. It creates the space down the right side of the page. */
    text-align: center;
}


/* Miscellaneous classes for reuse */
.fltrt { /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}
--> 



.title, .tagline { color: #0f487f; margin-top: -10px; display:none; visibility: hidden; }

a { font-family: verdana; color: #FFFFFF !important; }

/* hyperlink, hyperlink that has been visited */
a:link, a:visited {font-family: verdana; color: #FFFFFF !important; }

/* hyperlink being hovered over, hyperlink being pressed */
a:active, a:hover { font-family: verdana; color: #ffcc66 !important; text-decoration: none; background-color: #0f487f !important; }

.img { text-align: center; height: 300px; }
.congrats { text-align: center; line-height: 100%; margin-top: -10px;}
.desc {  }
.length { font-size: 150%; line-height: 18px; }
.desc_head { margin-bottom: -10px; }
#footer { text-align: left; width: 940px; margin: auto; font-size:x-small;}
.twit { visibility:  visible;}
</style>








<!--[if IE]>
<style type="text/css"> 
/* place css fixes for all versions of IE in this conditional comment */
.twoColHybLt #sidebar1 { padding-top: 30px; }
.twoColHybLt #mainContent { zoom: 1; padding-top: 15px; }
/* the above proprietary zoom property gives IE the hasLayout it may need to avoid several bugs */
</style>
<![endif]-->